## SQL and SQLite

SQL (Structured Query Language) is a Standard language for managing and manipulating the relational databases.
SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems.

In [1]:
import sqlite3

In [2]:
## Connect to an SQLite database
connection = sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

In [4]:
## Create a table
cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
    )
''')

## Commit the changes
connection.commit()

In [6]:
cursor.execute('''

select * from employees

''')

In [7]:
## Insert data in SQLite3
cursor.execute('''
insert into employees(name,age,department)
               values('Paul',19,'Data Scientist')

''')
cursor.execute('''
insert into employees(name,age,department)
               values('Madhu',18,'Data Scientist')

''')
cursor.execute('''
insert into employees(name,age,department)
               values('Bob',25,'Engineering')

''')
##Commiting the changes
connection.commit()

In [18]:
## Query the Data from the table using SQLite 3
cursor.execute('''
    select * from employees
''')
rows = cursor.fetchall()

## Printing the Query data
for row in rows:
    print(row)

(1, 'Paul', 19, 'Data Scientist')
(2, 'Madhu', 18, 'Data Scientist')
(3, 'Bob', 30, 'Engineering')

In [24]:
## Updating the data in the table
cursor.execute('''
    update employees
    set age=30
    where name ='Bob'
''')
connection.commit()

In [25]:
## Query the Data from the table using SQLite 3
cursor.execute('''
    select * from employees
''')
rows = cursor.fetchall()

## Printing the Query data
for row in rows:
    print(row)

(1, 'Paul', 19, 'Data Scientist')
(2, 'Madhu', 18, 'Data Scientist')
(3, 'Bob', 30, 'Engineering')

In [26]:
## Delete the data from the table
cursor.execute('''
delete from employees
where lower(name)='bob'
''')
connection.commit()

In [27]:
cursor.execute('select * from employees')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Paul', 19, 'Data Scientist')
(2, 'Madhu', 18, 'Data Scientist')

In [31]:
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
    insert into sales(date,product,sales,region)
                   values(?,?,?,?)
''',sales_data)

connection.commit()

In [32]:
# Query data from the sales table
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

In [33]:
# Print the queried data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')
(6, '2023-01-01', 'Product1', 100, 'North')
(7, '2023-01-02', 'Product2', 200, 'South')
(8, '2023-01-03', 'Product1', 150, 'East')
(9, '2023-01-04', 'Product3', 250, 'West')
(10, '2023-01-05', 'Product2', 300, 'North')

In [34]:
## Close the connection
connection.close()